In [1]:
print(1+2+3)

6

In [4]:
print(1+2*3/4)

2.5

In [5]:
x = 10
y = 2
print(x+y)

z = x/y
print(z)

x = x*z
y = y-z
print(x+y)

12
5.0
47.0

In [6]:
a =20//3
a

6

In [12]:
b=0
~b #bitwise x
#  b   1   2   3.......
# ~b  -2  -3  -4......

-1

In [13]:
x = 10
y = 2
z = x/y
print("X divided by Y is", z)
print(x, "divided by",y,"is" ,z)

X divided by Y is 5.0
10 divided by  2 is 5.0

In [14]:
x = 10
y = 2
z = x*y
print("X times by Y is", z)
print(x, "times",y,"is" ,z)

X times by Y is 20
10 times 2 is 20

In [18]:
print(x,y,z,sep = ",")
print(x,y,z, sep="@@@")

10,2,20
10@@@2@@@20

In [19]:
x = "XYZ"
y = 'ABC'
print(x,y)

XYZ ABC

In [22]:
x = "123"
y = '456'
z = x+y
print(z)

123456

In [25]:
x = "\'"
print(x)

'

In [27]:
x = '\"'
print(x)

"

In [28]:
x = 'ABC\tXYZ'
print(x)

ABC	XYZ

In [29]:
x = 'ABC\nXYZ'
print(x)

ABC
XYZ

In [30]:
x = 10
y = 2
z = x/y
print(x,y,z,sep = "\t")

10	2	5.0

In [39]:
x = 10
y = 2
z = x/y
print(x,y,z,sep = "\n")

10
2
5.0

In [40]:
x = 10
y = 2
z = x//y
print(x, end = "//") # end的預設是換行，在這裡更換，使能印出//  而不會換行
print(y, end = "=")
print(z)

10//2=5

In [55]:
x= 10
y = 2 
z = x/y
w = x*y
print(x,y, z,w, sep = " >> ", end = " [OK]" ,)

10 >> 2 >> 5.0 >> 20 [OK]

In [43]:
x = input("Input the first string: ")
print(x)

Input the first string: Hello, Dear, Lesson
Hello, Dear, Lesson

In [34]:
487//50

9

In [36]:
"""
HW1 Exercise 1
"""
price  = 17
payment = 500

fifties = (payment-price)//50
tens = (payment-price-fifties*50)//10
fives = (payment-price-fifties*50-tens*10)//5
ones = (payment-price-fifties*50-tens*10-fives*5)
print("50有",fifties,"個")
print("10有",tens,"個")
print("5有",fives,"個")
print("1有",ones,"個")

50有 9 個
10有 3 個
5有 0 個
1有 3 個

In [51]:
"""
HW1 Exercise 2
"""
price  = 17
payment = 500

#輸入幣值
coins = [0,0,0,0]
for i in range(0,4):
    coins[i] = int(input("Input a coin value: "))
    print(coins[i])

#計算最佳找錢組合
fifties = (payment-price)//coins[0]
tens = (payment-price-fifties*coins[0])//coins[1]
fives = (payment-price-fifties*coins[0]-tens*coins[1])//coins[2]
ones = (payment-price-fifties*coins[0]-tens*coins[1]-fives*coins[2])//coins[3]
print("幣值1有",fifties,"個")
print("幣值2有",tens,"個")
print("幣值3有",fives,"個")
print("幣值4有",ones,"個")

Input a coin value: 100
100
Input a coin value: 50
50
Input a coin value: 10
10
Input a coin value: 1
1
幣值1有 4 個
幣值2有 1 個
幣值3有 3 個
幣值4有 3 個

In [52]:
4*100+50+3*10+3

483